.form {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    padding: 1rem;
}

.form :first-child {
    width: 10rem;
}

.control:nth-of-type(2) input {
    width: 20rem;
}

.form > * {
    flex: 0 0 auto;
}

.form select {
    width: 10rem;
}

.control {
    display: block;
    margin-left: .5rem;
}

.control label {
    display: block;
    font-size: 0.8rem;
    font-weight: bold;
    /* margin-bottom: 0.5rem; */
  }

.actions {
    margin-top: 1rem;
    text-align: right;
  }

  .actions button {
      margin-left: 0.5rem;
    font: inherit;
    cursor: pointer;
    background-color: #0077593b;
    color: white;
    padding: 0.5rem 1.5rem;
    border: 1px solid #00775969;
    border-radius: 4px;
    font-weight: bold;
  }
  
  .actions button:hover,
  .actions button:active {
    background-color: #058856;
    border-color: #0e93a56e;
  }